/* =============================
   HOMEPAGE LAYOUT
   ============================= */
.homepage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*LOGOUT BUTTON */
.logout {
  background: linear-gradient(105deg, #f1bc4a, #f70303);
  border: none;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.logout:hover {
  opacity: 0.9;
}

/* =============================
   MAIN CONTENT CONTAINER
   ============================= */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container h1 {
  font-size: 4rem;
  color: white;
}

.main-container h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(218, 216, 216, 0.78);
}

/* =============================
   UPLOAD SECTION
   ============================= */
.upload {
  border: 2px dashed #350021;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload p {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Upload button inside upload box */
.upload button {
  background: linear-gradient(105deg, #f1bc4a, #f70303);
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 30px;
  padding: 15px 0;
  margin-top: 20px;
  width: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.upload button:hover {
  opacity: 0.9;
}

/* =============================
   FILE INPUT + CUSTOM UPLOAD BUTTON
   ============================= */
.file-upload {
  display: flex;
}

.custom-upload-btn,
.length-selector select {
  display: flex;
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px solid #350021;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.custom-upload-btn:hover,
.length-selector select:hover {
  background-color: #f5f5f5;
}

/* =============================
   LENGTH SELECTOR
   ============================= */
.length-selector {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.length-selector select {
  outline: none;
}